div.desc_vid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;}

#imgBanner{
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
    display: block;
}
@media (max-width: 768px) {
    #imgBanner{
        padding-top: 15%;
    }
    iframe{
        width: 280px;
        height: auto;
    }
}
iframe{
    flex: 1;                
    border: 1px solid #ccc; 
    /**padding: 15px;**/
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px #bbb;
}

#desc{
    margin-left: 3%;
    margin-right: 3%;
    list-style: none;
    display: flex;
    gap: 2%;  
    padding-left: 3%;
    padding-right: 3%;
}
.desc p{
    flex: 1;                
    border: 1px solid #ccc; 
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px #bbb;
}

.cv h3{
    text-align: center;
    padding-bottom: 10px;
}
.cv p{
    text-align:justify;
}
#cv-list{
    list-style: none;
    display: flex;
    gap: 1%;  
    padding-left: 3%;
    padding-right: 3%;
}
#cv-list li{
    flex: 1;                
    border: 1px solid #ccc; 
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px #bbb;
}

.skill{
    margin-bottom: 16px;
    width: 100%;
    margin: 0 0 5px;
    font-weight: 600;
}
.skill div{
    display: flex;
}
.skill p{      
    margin-left: 10px;
    font-size: 16px;
}
.skill-bar{
    width: 90%;
    height: 12px;
    background: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
}
.skill-fill{
    height: 100%;
    width: var(--value);
    background: linear-gradient(90deg,/* #000000,#AAAAAA*/#4e73df, #1cc88a);
    border-radius: 6px;
    transition: width 1.2s ease-out;
}

/* Animation du slogan */
#slogan_anim {
    display: block;
    text-align: center;
    margin: 0 auto;
    transition: transform 1s ease-in-out;
}

#slogan_anim.move-right {
    animation: slideRight 1s ease-in-out forwards;
}

#slogan_anim.move-left {
    animation: slideLeft 1s ease-in-out forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}