.container-loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left:0;
    top:0;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container-loader .box-loader{
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 48%;
    left: 48%;
    margin: -3.1rem 0 0 -3.1rem;
    border-top: solid 3px #ff689a;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}
.container-loader .box-loader:before{
    content: "";
    position: absolute;
    right: 5px;
    bottom: 5px;
    top: 5px;
    left: 5px;
    border-top: solid 3px magenta;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}
.container-loader .box-loader:after{
    content: "";
    position: absolute;
    right: 12px;
    bottom: 12px;
    top: 12px;
    left: 12px;
    border-top: solid 3px #9d2cf5;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}