/**Main rules, applying everywhere**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 198, 236);
    scroll-behavior: smooth;
    font-family:inter;
}

/**Generic text rules for tags and classes**/
h1{
    padding-top:2%;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: 700;
    font-size:300%;
}
h2{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align:center;
    font-size: 200%;
    padding:3%;
}
p{
    font-size: 18px;
    color:#555555;
}

/**Specific text rules, by id**/
#desc{
    margin-left: 3%;
    margin-right: 3%;
    list-style: none;
    display: flex;
    gap: 2%;  
    padding-left: 3%;
    padding-right: 3%;
}
.desc p{
    flex: 1;                
    border: 1px solid #ccc; 
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px #bbb;
}
.desc iframe{
    flex: 1;                
    border: 1px solid #ccc; 
    /**padding: 15px;**/
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px #bbb;
}


.cv h3{
    text-align: center;
    padding-bottom: 10px;
}
.cv p{
    text-align:justify;
}
#cv-list{
    list-style: none;
    display: flex;
    gap: 1%;  
    padding-left: 3%;
    padding-right: 3%;
}
#cv-list li{
    flex: 1;                
    border: 1px solid #ccc; 
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px #bbb;
}
.skill{
    margin-bottom: 16px;
    width: 100%;
    margin: 0 0 5px;
    font-weight: 600;
}
.skill div{
    display: flex;
}
.skill p{      
    margin-left: 10px;
    font-size: 16px;
}
.skill-bar{
    width: 90%;
    height: 12px;
    background: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
}
.skill-fill{
    height: 100%;
    width: var(--value);
    background: linear-gradient(90deg,/* #000000,#AAAAAA*/#4e73df, #1cc88a);
    border-radius: 6px;
    transition: width 1.2s ease-out;
}

/**navbar**/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:5px 5px 5px#cccccc;
}
.navlinks a{
    text-decoration: none;
    color: black;
    box-shadow: #bbb 3px 3px 10px;
    margin: 10px;
    padding: 5px;
    font-size: 150%;
    border-radius: 7px;
}
.navlinks a:hover{
    /* opacity: 0.8; */
    box-shadow: magenta 3px 3px 10px;
}

.logo{
    font-size: 18px;
    font-weight: 500;
}
.nav-links{
    display: flex;
    gap: 20px;
}
nav a{
    color: black;
    text-decoration: none;
    /*
    color: black;
    font-size: 16px;
    white-space: nowrap;
    transition: 0.2s;*/
}
nav a:hover{
    opacity: 0.6;
}

#imgBanner{
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
    display: block;
}



.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 9999;
    transition: transform 0.3s ease;
}
.back-to-top:hover{
    transform: scale(1.2);
}
.back-to-top:active{
    transform: scale(0.9);
}

/**footer**/
footer{
    width: 100%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left:20px;
    margin-top: 80px; /* espace avant le footer */
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
}
.footer h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 25px;
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: opacity 0.2s ease;
}

.footer-links a:hover {
    opacity: 0.6;
}

.footer p {
    font-size: 14px;
    color: #555;
}

/**footer**/
footer{
    width: 100%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left:20px;
    margin-top: 80px; /* espace avant le footer */
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
}
.footer h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 25px;
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: opacity 0.2s ease;
}

.footer-links a:hover {
    opacity: 0.6;
}

.footer p {
    font-size: 14px;
    color: #555;
}

.info_feed .info_feed{
    list-style: none;
    display: flex;
    gap: 1%;  
    padding-left: 3%;
    padding-right: 3%;
}
.visualizer{
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgb(234, 146, 31);
    color: black;
    background-color: white;
}

.visualizer:hover{
    background-color: rgb(234, 146, 31);
    color: magenta;
}
:modal{
    background-color:rgb(234, 146, 31);
    border: 2px solid magenta;
    border-radius: 5px;
}