/**Main rules, applying everywhere**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 198, 236);
    scroll-behavior: smooth;
    font-family:inter;
}

/**Generic text rules for tags and classes**/
h1{
    padding-top:2%;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: 700;
    font-size:300%;
}
h2{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align:center;
    font-size: 200%;
    padding:3%;
}
p{
    font-size: 18px;
    color:#555555;
}

/**Specific text rules, by id**/
#desc{
    margin-left: 3%;
    margin-right: 3%;
    list-style: none;
    display: flex;
    gap: 10%;  
    padding-left: 3%;
    padding-right: 3%;
}
.desc p{
    flex: 1;                
    border: 1px solid #ccc; 
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px #bbb;
}
.desc img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#info_feed{
    list-style: none;
    display: flex;
    gap: 1%;  
    padding-left: 3%;
    padding-right: 3%;
}
#info_feed li{
   flex: 1;                
    border: 1px solid #ccc; 
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px #bbb;
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1% 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:5px 5px 5px#cccccc;
}
.logo{
    font-size: 18px;
    font-weight: 500;
}
.nav-links{
    display: flex;
    gap: 40px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    white-space: nowrap;
    transition: 0.2s;
}
.nav-links a:hover{
    opacity: 0.6;
}

#imgBanner{
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
    display: block;
}



.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 9999;
    transition: transform 0.3s ease;
}
.back-to-top:hover{
    transform: scale(1.2);
}
.back-to-top:active{
    transform: scale(0.9);
}
